/* About Section Styles */

.aboutContainer {
  width: 65%;
  height: 55vh;

  display: flex;
  flex-direction: column;

  border-radius: 8px;
  box-shadow: 0px 0px 3px rgba(0, 0, 0, 0.6);

  margin: 4% auto 8% auto;

  background-color: rgb(255, 252, 252);
}

.aboutMainContent {
  display: flex;
  height: 89%;
  overflow: hidden;
}

.aboutSectionContainer {
  position: relative;
  width: 100%;

  overflow-x: hidden;
  overflow-y: scroll;

  padding: 2% 6%;
}

.aboutSectionContainer::-webkit-scrollbar {
  width: 8px;
}

.aboutSectionContainer::-webkit-scrollbar-thumb {
  background-color: rgba(0, 0, 0, 0);
  border-radius: 4px;
}

.aboutSectionContainer:hover::-webkit-scrollbar-thumb {
  background-color: rgb(190, 190, 190);
}

.aboutHeaderContainer {
  display: flex;
  align-items: center;

  height: 11%;
  min-height: 47px;

  padding: 0 5.2%;

  border-top-left-radius: 8px;
  border-top-right-radius: 8px;
  border-bottom: 1px solid rgba(0, 0, 0, 0.25);

  background-color: rgb(255, 252, 252);
}

.aboutHeader {
  font-size: 30px;
  color: rgba(0, 0, 0, 0.45);
}

.aboutSelector {
  width: 20%;
  height: 100%;
  border-right: 1px solid rgba(0, 0, 0, 0.2);

  list-style: none;
  text-align: center;
}

.aboutSelector li {
  padding: 1vh 0;

  cursor: pointer;

  background-color: rgb(255, 252, 252);

  border-bottom: 1px solid rgba(0, 0, 0, 0.2);
}

.aboutSelector li:hover,
.aboutSelector li:active {
  filter: brightness(90%);
}

.aboutSelector li:active {
  filter: brightness(80%);
}

.aboutSectionHeader {
  font-size: 28px;
  text-align: center;
  color: rgba(0, 0, 0, 0.45);
  margin-bottom: 2%;
}

.overviewList {
  position: relative;
  list-style: none;
  text-align: center;
  font-size: 22px;
  padding: 0 12%;
}

.overviewList li {
  line-height: 3.4;
  color: rgba(0, 0, 0, 0.45);

  border-bottom: 1px solid rgba(0, 0, 0, 0.2);

  background-color: rgb(255, 252, 252);
}

.overviewList li:hover {
  filter: brightness(95%);

  cursor: default;
}

.bioContent {
  height: 84%;
  font-size: 18px;
  overflow-y: scroll;
}

.bioContent::-webkit-scrollbar {
  width: 8px;
}

.bioContent::-webkit-scrollbar-thumb {
  background-color: rgba(0, 0, 0, 0);
  border-radius: 4px;
}

.bioContent:hover::-webkit-scrollbar-thumb {
  background-color: rgb(190, 190, 190);
}

.bioContent > p {
  text-indent: 50px;
  line-height: 1.3;
}

.editButton {
  position: absolute;
  right: 12%;
  top: 4%;

  font-size: 30px;
  color: rgb(86, 83, 128);
  background-color: rgb(255, 252, 252);
  border: none;
  border-radius: 50%;

  width: 46px;
  height: 46px;
}

.editButton:hover {
  background-color: rgba(0, 10, 104, 0.08);
}

.editButton:active {
  transform: scale(1.1);
  background-color: rgba(0, 10, 104, 0.08);
}

.editButton:focus {
  outline: none;
}

/* Overview Form and Modal Styles */

.overviewFormModalContainer {
  position: relative;

  top: 50%;
  left: 50%;

  opacity: 1;

  transform: translate(-50%, -50%);

  width: 26vw;
  min-width: 446px;
  height: 712px;

  border-radius: 8px;

  background-color: rgb(255, 252, 252);

  animation-name: modal_entry;
  animation-duration: 0.3s;
}

.closedInstrumentDropdown,
.closedStyleDropdown {
  position: absolute;
  display: grid;
  grid-template-columns: repeat(2, 1fr);

  max-height: 0;

  list-style: none;
  overflow: hidden;
  z-index: 2;

  background-color: rgb(255, 252, 252);

  border-radius: 4px;
  box-shadow: 0px 0px 2px rgba(0, 0, 0, 0.6);

  transition: 0.3s;
}

.openInstrumentDropdown,
.openStyleDropdown {
  position: absolute;

  display: grid;
  grid-template-columns: repeat(2, 1fr);

  height: auto;
  max-height: 400px;

  padding: 8px 0;

  list-style: none;
  overflow: hidden;
  z-index: 2;

  background-color: rgb(255, 252, 252);

  border-radius: 4px;
  box-shadow: 0px 0px 2px rgba(0, 0, 0, 0.6);

  transition: 0.3s;
}

.closedInstrumentDropdown,
.openInstrumentDropdown {
  left: 14%;
  top: 24px;
}

.closedStyleDropdown,
.openStyleDropdown {
  left: 10%;
  top: 26px;
}

.dropdownListItem {
  display: block;
  margin-right: 12px;
  padding-left: 10px;
  background-color: rgb(255, 252, 252);
}

.downInstrumentTriangle {
  position: absolute;
  top: 1px;
  left: 26%;

  -moz-transform: rotate(90deg);
  -ms-transform: rotate(90deg);
  -o-transform: rotate(90deg);
  -webkit-transform: rotate(90deg);
  transform: rotate(90deg);

  transition-property: top, left, transform;
  transition-duration: 0.3s;

  -webkit-touch-callout: none; /* iOS Safari */
  -webkit-user-select: none; /* Safari */
  -khtml-user-select: none; /* Konqueror HTML */
  -moz-user-select: none; /* Old versions of Firefox */
  -ms-user-select: none; /* Internet Explorer/Edge */
  user-select: none;
}

.rightInstrumentTriangle {
  position: absolute;
  top: 1px;
  left: 26%;

  transform: rotate(0deg);

  transition-property: top, left, transform;
  transition-duration: 0.3s;

  -webkit-touch-callout: none; /* iOS Safari */
  -webkit-user-select: none; /* Safari */
  -khtml-user-select: none; /* Konqueror HTML */
  -moz-user-select: none; /* Old versions of Firefox */
  -ms-user-select: none; /* Internet Explorer/Edge */
  user-select: none;
}

.downStyleTriangle {
  position: absolute;
  top: 1px;
  left: 14.4%;

  -moz-transform: rotate(90deg);
  -ms-transform: rotate(90deg);
  -o-transform: rotate(90deg);
  -webkit-transform: rotate(90deg);
  transform: rotate(90deg);

  transition-property: top, left, transform;
  transition-duration: 0.3s;

  -webkit-touch-callout: none; /* iOS Safari */
  -webkit-user-select: none; /* Safari */
  -khtml-user-select: none; /* Konqueror HTML */
  -moz-user-select: none; /* Old versions of Firefox */
  -ms-user-select: none; /* Internet Explorer/Edge */
  user-select: none;
}

.rightStyleTriangle {
  position: absolute;
  top: 1px;
  left: 14.4%;

  -moz-transform: rotate(0deg);
  -ms-transform: rotate(0deg);
  -o-transform: rotate(0deg);
  -webkit-transform: rotate(0deg);
  transform: rotate(0deg);

  transition-property: top, left, transform;
  transition-duration: 0.3s;

  -webkit-touch-callout: none; /* iOS Safari */
  -webkit-user-select: none; /* Safari */
  -khtml-user-select: none; /* Konqueror HTML */
  -moz-user-select: none; /* Old versions of Firefox */
  -ms-user-select: none; /* Internet Explorer/Edge */
  user-select: none;
}

.dropdownContainer {
  margin: 5% 0px;
  position: relative;
}

.overviewFormContainer {
  position: relative;
  width: 384px;
  margin: 0 auto;
}

.overviewSubmitButton {
  background-color: rgb(14, 0, 47);
  color: white;
  border: none;
  border-radius: 6px;
  padding: 8px;
  font-size: 14px;
  width: 18%;
  align-self: flex-end;
  margin-top: 12px;
}

.overviewForm {
  margin-top: 20px;
  display: flex;
  flex-direction: column;
}

.dropdownLabel {
  margin-right: 8px;
}

.modalFormTitle {
  color: rgba(39, 39, 39, 0.7);
  justify-self: center;
}

.bioModalFormTitle {
  grid-column: 2 / 3;
  color: rgba(39, 39, 39, 0.7);
  justify-self: center;
}

.modalFormClose {
  align-self: flex-end;
  padding: 4px 8px 4px 8px;

  background-color: rgb(255, 252, 252);
  border: none;
  border-radius: 4px;
}

.modalFormClose:hover {
  filter: brightness(80%);
}

.modalFormClose:active {
  filter: brightness(80%);
  transform: scale(1.1);
}

.modalFormClose:focus {
  outline: none;
}

.overviewErrors {
  width: 100%;
  list-style: none;
  padding: 8px;
  border-radius: 4px;
  font-size: 11px;
  background-color: rgba(255, 0, 0, 0.3);
  color: darkred;
}

.overviewErrorWrapper {
  position: absolute;

  top: 8%;
  left: 16.8%;

  width: 384px;
}

/* Bio Form and Modal Styles */

.bioFormModalContainer {
  position: relative;

  top: 50%;
  left: 50%;

  opacity: 1;

  padding: 0 2%;

  transform: translate(-50%, -50%);

  width: 26vw;
  max-width: 538px;
  min-width: 460px;
  height: 42vh;
  min-height: 368px;

  border-radius: 8px;

  background-color: rgb(255, 252, 252);

  animation-name: modal_entry;
  animation-duration: 0.3s;
}

.bioTextarea::-webkit-scrollbar {
  width: 8px;
}

.bioTextarea::-webkit-scrollbar-thumb {
  background-color: rgba(0, 0, 0, 0);
  border-radius: 4px;
}

.bioTextarea:hover::-webkit-scrollbar-thumb {
  background-color: rgb(190, 190, 190);
}

.bioForm {
  display: flex;
  flex-direction: column;
  padding-top: 2%;
}

.bioTextarea {
  resize: none;
  font-family: 'Lato';
  font-size: 16px;

  overflow-y: scroll;
  width: 100%;
  height: 26vh;
  min-height: 208px;
}

.bioModalFormClose {
  grid-column: 3 / 4;
  align-self: flex-end;
  justify-self: end;
  padding: 4px 8px 4px 8px;

  background-color: rgb(255, 252, 252);
  border: none;
  border-radius: 4px;
}

.bioModalFormClose:hover {
  filter: brightness(80%);
}

.bioModalFormClose:active {
  filter: brightness(80%);
  transform: scale(1.1);
}

.bioModalFormClose:focus {
  outline: none;
}

.bioSubmitButton {
  align-self: flex-end;
  width: 64px;
  background-color: rgb(14, 0, 47);
  color: white;
  border: none;
  border-radius: 6px;
  padding: 8px;
  font-size: 14px;
  margin-top: 12px;
}

.titleAndButtonContainer {
  display: flex;
  justify-content: space-between;

  padding-top: 6%;
  padding-left: 30%;
}

.bioTitleAndButtonContainer {
  display: grid;
  grid-template-columns: repeat(3, 1fr);

  padding-top: 3%;
  margin-bottom: 12px;
}

@keyframes modal_entry {
  from {
    top: -100%;
    opacity: 0.2;
  }
  to {
    top: 50%;
    opacity: 1;
  }
}

@media screen and (max-width: 1440px), (max-height: 900px) {
  .aboutHeader {
    font-size: 28px;
  }

  .aboutSectionHeader {
    font-size: 24px;
  }

  .bioContent {
    font-size: 16px;
  }

  .overviewList {
    font-size: 18px;
  }
}
