.aboutContainer {
    width: 65%;
    height: 55vh;

    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-template-rows: repeat(6, 1fr);

    border-radius: 8px;
    box-shadow: 0px 0px 3px rgba(0, 0, 0, 0.6);

    margin: 4% auto 0 auto;

    background-color: rgb(255, 252, 252);
}

.aboutHeaderContainer {
    display: flex;
    align-items: center;

    grid-column: 1 / 6;
    grid-row: 1 / 2;

    height: 6vh;

    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
    border-bottom: 1px solid rgba(0, 0, 0, 0.25);

    background-color: rgb(255, 252, 252);
}

.aboutHeader {
    font-size: 30px;
    margin-left: 7%;
    color: rgba(0, 0, 0, 0.45);
}

.aboutSectionContainer {
    grid-row: 2 / 7;
    grid-column: 2 / 6;
}

.aboutSectionInnerContainer {
    position: relative;
    width: 70%;
    margin: 0 auto;
}

.aboutSelector {
    grid-row: 2 / 7;
    grid-column: 1 / 2;

    border-right: 1px solid rgba(0, 0, 0, 0.2);

    margin-top: -12%;

    list-style: none;
    text-align: center;
}

.aboutSelector li {
    padding: 4% 0;

    cursor: pointer;

    background-color: rgb(255, 252, 252);

    border-bottom: 1px solid rgba(0, 0, 0, 0.2);

}

.aboutSelector li:hover, .aboutSelector li:active {
    filter: brightness(90%);
}

.aboutSelector li:active {
    filter: brightness(80%);
}

.aboutSectionHeader {
    font-size: 24px;
    text-align: center;
    color: rgba(0, 0, 0, 0.45);
    margin-top: 2%;
    margin-bottom: 4%;
}

.overviewList {
    position: relative;
    list-style-type: "\1D160";
    list-style-position: inside;
    font-size: 16px;
    width: 90%;
    margin: 0 20%;
}

.overviewList li {
    line-height: 3;
}

.bulletSpan {
    position: absolute;
    left: 50px;
}

.bioContent {
    font-size: 18px;
}

.editButton {
    position: absolute;
    top: -16px;
    right: 0px;

    font-size: 30px;
    color: rgb(86, 83, 128);
    background-color: rgb(255, 252, 252);
    border: none;
    border-radius: 50%;

    width: 2.4vw;
    height: 2.4vw;
}

.editButton:hover {
    background-color: rgba(0, 10, 104, 0.08);
}

.editButton:active {
    transform: scale(1.1);
    background-color: rgba(0, 10, 104, 0.08);
}

.editButton:focus {
    outline: none;
}

.overviewFormModalContainer {
        position: relative;

        top: 50%;
        left: 50%;

        opacity: 100%;

        transform: translate(-50%, -50%);

        width: 30vw;
        height: 76vh;

        border-radius: 8px;

        background-color: rgb(255, 252, 252);

        animation-name: modal_entry;
        animation-duration: 0.3s;
}

.closedInstrumentDropdown, .closedStyleDropdown {
    height: 0;
    overflow: hidden;
}

.downInstrumentTriangle {
    position: absolute;
    top: 1px;
    left: 16%;

    -moz-transform: rotate(90deg);
    -ms-transform: rotate(90deg);
    -o-transform: rotate(90deg);
    -webkit-transform: rotate(90deg);
    transform: rotate(90deg);

    transition-property: top, left, transform;
    transition-duration: 0.3s;
}

.rightInstrumentTriangle {
    position: absolute;
    top: 1px;
    left: 16%;

    transform: rotate(0deg);

    transition-property: top, left, transform;
    transition-duration: 0.3s;
}

.downStyleTriangle {
    position: absolute;
    top: 1px;
    left: 8%;

    -moz-transform: rotate(90deg);
    -ms-transform: rotate(90deg);
    -o-transform: rotate(90deg);
    -webkit-transform: rotate(90deg);
    transform: rotate(90deg);

    transition-property: top, left, transform;
    transition-duration: 0.3s;
}

.rightStyleTriangle {
    position: absolute;
    top: 1px;
    left: 8%;

    transform: rotate(0deg);

    transition-property: top, left, transform;
    transition-duration: 0.3s;
}

@keyframes modal_entry { from { top: -100%; opacity: 20%; } to { top: 50%; opacity: 100%; } }