.body {
  overflow: hidden;
  font-family: 'Lato';
}

.signUpHeader {
  font-size: 28px;
  color: rgba(24, 24, 24, 0.8);
  text-align: center;
  margin-top: -2%;
}

.signUpheaderContainer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 10%;
  padding-right: 7%;
  margin-top: -2%;
}

.loginHeaderContainer {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 10%;
  margin-top: -10px;
}

.activeDisplayCircle {
  width: 10px;
  height: 10px;
  background-color: grey;
  border-radius: 50%;
}

.inactiveDisplayCircle {
  width: 10px;
  height: 10px;
  background-color: #bdbdbd;
  border-radius: 50%;
}

.signUpformContainer {
  position: relative;
  overflow: hidden;
  width: 476px;
  height: 85vh;
  border-radius: 4px;
  box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.4);
}

.loginFormContainer {
  position: relative;
  overflow: hidden;
  width: 62%;
  height: 60%;
  border-radius: 4px;
  box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.4);
}

.bottomContainer {
  display: flex;
  align-items: center;
  width: 100%;
  height: 10%;
  margin-top: 6%;
  justify-content: space-evenly;
}

.circleContainer {
  display: flex;
  width: 8%;
  align-items: center;
  justify-content: space-between;
}

.contentContainer {
  position: relative;
  display: flex;
  height: 75%;
  overflow: hidden;
  margin-top: -10%;
}

.userInfoOnscreen {
  display: flex;
  flex-direction: column;
  justify-content: center;
  position: absolute;
  transition: transform 0.3s;
  transform: translateX(0);
  left: 33px;
  top: 83px;
  width: 86%;
}

.initialUserInfoOnscreen {
  display: flex;
  flex-direction: column;
  justify-content: center;
  position: absolute;
  transform: translateX(0);
  left: 33px;
  top: 83px;
  width: 86%;
}

.mapOnscreen {
  margin-top: 20%;
  margin-left: 3%;
  transition: transform 0.3s, margin-left 0.3s;
}

.userInfoOffscreen {
  display: flex;
  flex-direction: column;
  justify-content: center;
  position: absolute;
  transition: transform 0.3s;
  transform: translateX(-500px);
  left: 33px;
  top: 83px;
  width: 86%;
}

.mapOffscreen {
  margin-top: 20%;
  margin-left: 3%;
  transform: translateX(500px);
  transition: transform 0.3s, margin-left 0.3s;
}

.userInfoForm {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}

.bottomButton {
  font-size: 15px;
  font-weight: bold;
  min-width: 80px;
  height: 40px;
  padding: 12px 8px 12px 8px;
  border: none;
  background-color: rgb(14, 0, 47);
  color: white;
  border-radius: 4px;
}

.demoButton {
  font-size: 15px;
  font-weight: bold;
  width: 100px;
  height: 40px;
  border: none;
  background-color: rgb(14, 0, 47);
  color: white;
  border-radius: 4px;
}

.loginText {
  text-align: center;
  font-size: 14px;
  margin-top: 4%;
}

.linkText {
  text-decoration: none;
  color: rgb(0, 117, 212);
}

.leftContainer {
  width: 60vw;
  height: 100vh;
  background-image: url('/images/auth_left_image.jpg');
  filter: grayscale(90%);
}

.authRight {
  display: flex;
  width: 40vw;
  justify-content: center;
  align-items: center;
}

.authErrors {
  position: absolute;
  top: 12.4%;
  left: 2.4%;
  width: 96%;
  columns: 2;
  list-style: none;
  font-size: 12px;
  background-color: rgba(255, 0, 0, 0.3);
  color: darkred;
  border-radius: 6px;
  padding: 1%;
}

.authErrors li {
  margin-top: 2px;
}

.loginForm {
  width: 80%;
}

.loginFormWrapper {
  margin-top: 6%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.loginSubmitWrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 16% auto 0 auto;
  width: 60%;
}

.loginBottomText {
  text-align: center;
  margin-top: 14%;
  font-size: 14px;
}

.loginErrors {
  list-style: none;
  padding: 12px;
  border-radius: 4px;
  font-size: 13px;
  background-color: rgba(255, 0, 0, 0.3);
  color: darkred;
}

.loginErrors li {
  margin-top: 2%;
}

.loginErrorWrapper {
  position: absolute;
  display: flex;
  justify-content: center;
  width: 100%;
  top: 23%;
}

.logo {
  height: 80px;
}

.learnMore {
  display: flex;
  flex-direction: column;

  align-items: center;
  justify-content: center;

  height: 40px;
}

.logoAndLearnMoreContainer {
  display: flex;
  align-items: center;
  justify-content: space-between;

  padding-right: 10%;
}

.learnMoreContainer {
  display: flex;
  justify-content: space-between;
  align-items: center;

  padding: 16px 32px;

  position: relative;

  top: 50%;
  left: 50%;

  opacity: 1;

  transform: translate(-50%, -50%);

  width: 1600px;
  height: 680px;

  border-radius: 8px;

  background-color: rgba(0, 0, 0, 0.4);
}

.learnMoreText {
  color: white;
  width: 32%;
  font-size: 26px;
  line-height: 1.8;
  text-align: center;
}

.modalClose {
  position: absolute;
  right: 4%;
  top: 4%;

  padding: 4px 8px 4px 8px;

  background-color: rgba(255, 252, 252, 0);
  border: none;
  border-radius: 4px;
}

.modalClose:hover {
  background-color: rgba(255, 252, 252, 0.2);
}

.modalClose:active {
  background-color: rgba(255, 252, 252, 0.2);
  transform: scale(1.1);
}

.modalClose:focus {
  outline: none;
}

@media screen and (max-height: 900px) {
  .signUpHeader {
    font-size: 22px;
  }
}
