.pageContainer {
    display: flex;
    height: calc(100vh - 230px);
}

.sidebarContainer {
    width: 18vw;
    background-color: #FFFFFF;

    padding: 24px 10px 0px 10px;

    box-shadow: 2px -1px 4px rgba(0, 0, 0, 0.3);

    z-index: 0;
}

.contentContainer {
    width: 82vw;
    background-color: rgb(240, 242, 245);
    padding: 28px 0px;
    display: flex;
    flex-direction: column;
}

.yourBandsBar {
    display: flex;
    align-items: center;
    justify-content: space-between;

    width: 100%;
    padding-left: 8px;
    padding-top: 6px;
    padding-bottom: 6px;
    padding-right: 24px;
    margin-top: 4%;

    background-color: #ece9ff;

    border-radius: 6px;
}

.yourBandsList {
    display: flex;
    flex-direction: column;
}

.bandsBarNotesAndText {
    display: flex;
    align-items: center;
    width: 60%;
}

.bandsBarNotes {
    background-color: #4C5095;
    width: 44px;
    padding: 10px;
    font-size: 20px;
    color: white;
    border-radius: 50%;
    text-align: center;
}

.bandsBarText {
    margin-left: 8%;
}

.bandsBarCollapse {
    font-size: 20px;
    color: #606770;
    background-color: rgba(0, 0, 0, 0);
    border: none;
    height: 40px;
    width: 40px;
    margin-top: 2px;
    border-radius: 50%;
}

.bandsBarExpand {
    font-size: 20px;
    color: #606770;
    background-color: rgba(0, 0, 0, 0);
    border: none;
    height: 40px;
    width: 40px;
    border-radius: 50%;
    padding-top: 8px;
    margin-top: 2px;
}

.bandsBarExpand:hover, .bandsBarExpand:active, .bandsBarCollapse:hover, .bandsBarCollapse:active {
    color: #525961;
    background-color: rgba(0, 0, 0, 0.2);
}

.bandsBarCollapse:focus, .bandsBarExpand:focus {
    outline: none;
}

.createBandButton {
    display: flex;
    justify-content: center;
    width: 100%;

    background-color: #ece9ff;
    border: none;
    color: #4C5095;

    padding: 8px 0px;

    border-radius: 4px;

    font-size: 20px;
    margin-top: 12px;
}

.createBandButton:hover, .createBandButton:active {
    filter: brightness(90%);
}

.createBandButton:active {
    transform: scale(1.05);
}

.createBandButton:focus {
    outline: none;
}

.plus {
    display: block;
    font-size: 14px;
    margin-top: 3px;
    margin-right: 12px;
}

.newBandForm {
    display: flex;
    flex-direction: column;

    padding: 16px;

    position: relative;

    top: 50%;
    left: 50%;

    opacity: 100%;

    transform: translate(-50%, -50%);

    width: 30vw;
    height: 40vh;

    border-radius: 8px;

    background-color: rgb(255, 252, 252);

    animation-name: modal_entry;
    animation-duration: 0.3s;
}

.modalFormClose {
    position: absolute;
    right: 4%;
    top: 4%;

    padding: 4px 8px 4px 8px;

    background-color: rgb(255, 252, 252);
    border: none;
    border-radius: 4px;
}

.modalFormClose:hover {
    filter: brightness(80%);
}

.modalFormClose:active {
    filter: brightness(80%);
    transform: scale(1.1);
}

.modalFormClose:focus {
    outline: none;
}

.modalFormTitle {
    color: rgba(39, 39, 39, 0.7);
    vertical-align: center;
    text-align: center;
}

.formControlGroup {
    width: 80%;
    margin-left: 10%;
    margin-top: 6%;
}

.submitButton {
    margin-top: 10%;
    align-self: center;
    width: 20%;
    background-color: rgb(14, 0, 47);
    color: white;
    border: none;
    border-radius: 6px;
    padding: 8px;
    font-size: 16px;
}

.bandListContainer {
    width: 50%;
    margin: 0px auto;
}

.memberBandList {
    margin-top: 2%;
}

.bandListHeader {
    text-align: center;
}

.bandListCard {
    display: flex;
    justify-content: space-between;

    height: 10vh;

    margin: 4% 0;
    padding: 2% 6%;

    background-color: white;
    border-radius: 6px;
    box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.1);
}

.bandListCardText {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100%;
}

.bandListCardButtonContainer {
    display: flex;
    justify-content: space-around;
    width: 32%;
    height: 48%;
}

.bandListCardButton {
    display: flex;
    align-items: center;
    justify-content: space-evenly;

    width: 90px;

    color: #3d3d3d;

    padding: 8px;
    border: none;
    border-radius: 4px;

    background-color: white;

    font-size: 16px;
}

.editBandListCardButton {
    display: flex;
    align-items: center;
    justify-content: space-evenly;

    width: 74px;

    color: #3d3d3d;

    padding: 8px;
    border: none;
    border-radius: 4px;

    background-color: white;

    font-size: 16px;
}

.editBandListCardButton:hover, .editBandListCardButton:focus, .bandListCardButton:hover, .bandListCardButton:focus {
    outline: none;
    cursor: pointer;
    filter: brightness(0.94);
}

.sidebarBandList {
    padding: 8px 16px;
}

.sidebarBandRow {
    margin: 10px 0px 0px 0px;
    padding: 16px 8px;
    display: flex;
    justify-content: center;
    background-color: #FFFFFF;
    border-radius: 4px;
    font-size: 16px;
}

.sidebarBandRow:hover {
    filter: brightness(90%);
}

.sidebarHeader {
    margin-left: 8px;
}

.defaultBandList {
    width: 64%;
    padding: 30px 10px;

    color: #3d3d3d;

    background-color: white;
    border-radius: 6px;

    box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.1);

    text-align: center;
    margin: 4% auto;
}

@keyframes modal_entry { from { top: -100%; opacity: 20%; } to { top: 50%; opacity: 100%; } }