.pageContainer {
    display: flex;
    height: calc(100vh - 230px);
}

.sidebarContainer {
    width: 22vw;
    border-right: 1px solid #C5C3C3;
}

.sidebarHeaderContainer {
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    height: 12vh;
    padding: 20px 24px;
    border-bottom: 1px solid #C5C3C3;

    background-color: #FFFCFC;
}

.sidebarHeaderButtons {
    display: flex;
    justify-content: space-between;
    width: 42%;
    align-self: flex-end;
}

.sidebarHeaderButton {
    font-size: 16px;

    background-color: #FFFCFC;
    color: #8F8F8F;

    padding: 4px;

    border: none;
    border-radius: 4px;
}

.sidebarHeaderButton:hover, .sidebarHeaderButton:active, .sidebarHeaderButton:focus, .activeButton {
    filter: brightness(90%);
    outline: none;
}

.sidebarHeader {
    text-align: center;
}

.contentContainer {
    width: 100%;
}

.topBarContainer, .bottomBarContainer {
    height: 70px;
    background-color: #FFFCFC;
}

.topBarContainer {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 64px;
    border-bottom: 1px solid #C5C3C3;
}

.bottomBarContainer {
    display: flex;
    justify-content: flex-end;
    padding: 0 64px;
    align-items: center;
    border-top: 1px solid #C5C3C3;
}

.centerContainer {
    height: 567px;
}

.senderProfilePic {
    height: 70px;
    border-radius: 50%;
    border: 1px solid rgba(0, 0, 0, 0.3);
}

.userInfo {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}

.disabledReceivedButton {
    filter: brightness(600%);
    pointer-events: none;
}

.disabledSentButton {
    filter: brightness(200%);
    pointer-events: none;
}

.invitationRowContainer {
    padding: 8px;
}

.invitationRow {
    border-radius: 4px;
    margin: 4px 0;
    background-color: white;
    padding: 8px;
}

.invitationRow:hover {
    filter: brightness(90%);
}

.invitationRow:active {
    filter: brightness(80%);
}

.invitationRowUser, .invitationRowBand {
    color: rgba(0, 0, 0, 0.7);
}

.invitationRowUser {
    font-size: 18px;
    margin-bottom: 2px;
}

.invitationRowBand {
    font-size: 16px;
}

.invitationRowMessage {
    margin-top: 4px;
    font-size: 14px;
    color: rgba(0, 0, 0, 0.5);
}

.invitationRowTextContainer {
    margin-left: 8px;
}

.invitationButtonContainer {
    display: flex;
    justify-content: space-between;
    width: 14%;
}

.invitationButton {
    font-size: 16px;
    padding: 10px;

    border: none;
    border-radius: 4px;

    color: white;
}

.acceptInvitationButton {
    background-color: rgb(24, 78, 24);
}

.declineInvitationButton {
    background-color: rgb(98, 23, 23);
}

.deleteInvitationButton {
    background-color: rgb(104, 104, 104);
}

.invitationContentProfilePhoto {
    height: 60px;
    border-radius: 50%;
    margin-right: 16px;
    border: 1px solid rgba(0, 0, 0, 0.3);
}

.topBarPhotoAndName {
    display: flex;
    align-items: center;
}

.invitationRowNameAndStatusContainer {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.invitationRowStatus {
    font-size: 14px;
}

.invitationRowDate {
    font-size: 12px;
    color: rgba(0, 0, 0, 0.7);
}

.pendingStatus {
    color: rgb(223, 197, 150);
}

.acceptedStatus {
    color: rgb(153, 223, 150);
}

.declinedStatus {
    color: rgb(223, 150, 150);
}

.activeInvitationHeaderText {
    color: #444444;
}

.manageButton {
    width: 60%;

    padding: 8px 4px;

    font-size: 14px;

    background-color: #575a8fd5;
    color: white;

    border: none;
    border-radius: 4px;
}

.manageButton:hover {
    filter: brightness(90%);
}

.manageButton:active, .manageButton:focus {
    outline: none;
    filter: brightness(84%);
}

.manageButton:active {
    transform: scale(1.04);
}