.nav {
    background-color: rgba(0, 7, 105, 0.7);
    height: 6.6vh;
}

.navContainer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0 auto;
    width: 90%;
    height: inherit;
}

.profileImage {
    height: 48px;
    border-radius: 50%;
    border: 3px solid white;
}

.leftContainer {
    display: flex;
    align-items: center;
}

.profileContainer {
    position: relative;
    width: 4.2vw;
    display: flex;
    align-items: center;

    cursor: pointer;
}

.profileDropdownArrow {
    font-size: 20px;
    margin-left: 6%;
}

.inactive {
    color: grey;
    transition: color 0.1s;
}

.active {
    color: white;
    transition: color 0.2s;
}

.profileDropdown {
    text-align: center;
    list-style: none;
    height: inherit;

    animation-duration: 0.5s;
    animation-name: dropdown;
}

.hidden {
    display: none;
}

.dropdownContainer {
    position: absolute;
    top: 7vh;
    left: -3.6vw;

    width: 10vw;
    height: 8vh;

    background-color: white;
    border: 1px solid rgba(0, 0, 0, 0.1);
    border-radius: 4px;

    box-shadow: 4px 4px 4px rgba(0, 0, 0, 0.2);

    animation-duration: 0.5s;
    animation-name: dropdown;
}

.dropdownListItem {
    padding-top: 6px;
    border: 1px solid rgba(0, 0, 0, 0.1);
    background-color: white;
    width: 10vw;
    height: 4vh;
    transition: filter 0.2;

    animation-duration: 0.5s;
    animation-name: slideout;
}

.dropdownListItem:hover {
    transition: filter 0.2s;
    filter: brightness(80%);
    cursor: pointer;
}

.dropdownLink {
    text-decoration: none;
    color: black;
}

.logo {
    text-decoration: none;
    color: white;
}

.searchButton {
    color: white;
    background-color: rgb(76,80,149);

    width: 2.8vw;
    height: 2.8vw;

    font-size: 36px;

    border: none;
    border-radius: 50%;

    margin: 0 auto;
}

.searchButton:hover, .searchButton:active {
    filter: brightness(90%);
}

.searchButton:focus {
    outline: none;
}

.searchButtonActive {
    filter: brightness(90%);

    box-shadow: 0px 0px 1px rgba(0, 0, 0, 0.2);
}

.searchContainer {
    position: relative;
}

.searchDropdownContainer {
    position: absolute;
    background-color: rgb(255, 252, 252);

    width: 22vw;
    height: 44vh;

    top: 116%;
    left: 22%;

    padding: 16%;

    z-index: 2;

    border-radius: 8px;

    box-shadow: 0px 0px 2px rgba(0, 0, 0.2);

    overflow: visible;

    animation: openSearch;
    animation-duration: 0.3s;
}

.searchDropdownTriangle {
    position: absolute;

    left: 32px;
    top: -9.8px;

    background-color: rgb(255, 252, 252);
    transform: rotate(45deg);

    border-left: 1px solid rgba(0, 0, 0, 0.2);
    border-top: 1px solid rgba(0, 0, 0, 0.2);

    height: 18px;
    width: 18px;

    z-index: 2;

    animation: openSearchTriangle;
    animation-duration: 0.3s;
}

.searchInstrumentDropdownContainer, .searchStyleDropdownContainer {
    position: relative;
}

.closedLabel {
    margin-top: 32px;
    margin-left: 26%;

    transition: 0.3s;
}

.openLabel {
    margin-top: 0px;
    margin-left: 26%;

    transition: 0.3s;
}

.hiddenInstrumentDropdown, .hiddenStyleDropdown {
    position: absolute;

    top: 120%;

    display: grid;
    grid-template-columns: repeat(3, 1fr);

    margin: 4px 0px;
    padding: 2px;

    list-style: none;

    max-height: 0px;
    width: auto;
    overflow: hidden;

    z-index: 2;

    border-radius: 4px;
    background-color: rgb(255, 252, 252);

    transition: all 0.3s;
}

.hiddenStyleDropdown {
    left: 19%;
}

.searchInstrumentDropdown, .searchStyleDropdown {
    position: absolute;

    top: 120%;

    display: grid;
    grid-template-columns: repeat(3, 1fr);

    margin: 4px 0px;
    padding: 2px;

    list-style: none;

    max-height: 8vh;
    height: auto;
    width: auto;
    overflow: hidden;

    border-radius: 4px;

    background-color: rgb(255, 252, 252);
    box-shadow: 0px 0px 2px rgba(0, 0, 0, 0.4);

    z-index: 3;

    transition: all 0.3s;
}

.searchStyleDropdown {
    left: 19%;
}

.rightStyleTriangle {
    position: absolute;
    transform: rotate(0deg);

    left: 40%;

    transition: all 0.3s;
}

.rightInstrumentTriangle {
    position: absolute;
    transform: rotate(0deg);

    left: 52%;

    transition: all 0.3s;
}

.downStyleTriangle {
    position: absolute;
    transform: rotate(90deg);

    left: 40%;

    transition: all 0.3s;
}

.downInstrumentTriangle {
    position: absolute;
    transform: rotate(90deg);

    left: 52%;

    transition: all 0.3s;
}

.searchForm {
    width: 96%;
    margin: 36px auto 0px auto;
    height: 88%;
}

.checkboxLabel {
    font-size: 14px;
    margin-left: 6px;
    margin-right: 4px;
}

.name {
    width: 60%;
    padding: 4px;
    font-size: 14px;
    margin-top: 2%;
    border: 2px solid rgba(53, 57, 80, 0.4);
    border-radius: 4px;
    background-color: rgba(121, 111, 255, 0.1);
}

.name:focus {
    background-color: none;
    outline-color: rgb(59, 57, 92);
}

.submitSearch {
    position: absolute;
    left: 36%;
    bottom: 2%;

    background-color: rgb(14, 0, 47);
    color: white;
    border: none;
    border-radius: 6px;
    padding: 8px;
    font-size: 14px;
}

.distanceContainer {
    margin: 24px 0px 0px 26%;
}

.nameContainer {
    margin: 0px 0px 0px 26%;
}

.distanceDropdown {
    margin-top: 12px;
    width: 60%;
    padding: 4px;
    background-color: rgba(121, 111, 255, 0.1);
    border-radius: 4px;
}

.distanceDropdown:focus {
    background-color: none;
    outline-color: 2px solid rgb(59, 57, 92);
}

.searchHeader {
    position: absolute;
    font-size: 24px;

    color: rgba(39, 39, 39, 0.7);

    left: 40%;
    top: 2%;
}

@keyframes slideout {
    from {
        height: 0;
        overflow: hidden;
        margin-top: -10px;
    }

    to {
        height: 4vh;
    }
}

@keyframes dropdown {
    from {
        height: 0;
        overflow: hidden;
    }

    to {
        height: 8vh;
        overflow: none;
    }
}

@keyframes openSearch {
    from {
        opacity: 0;
        width: 0px;
        height: 0px;
        overflow: hidden;
        box-shadow: none;
    }

    to {
        opacity: 1;
        box-shadow: 0px 0px 2px rgba(0, 0, 0.2);
        height: 44vh;
        width: 22vw;
        overflow: visible;
    }
}

@keyframes openSearchTriangle {
    from {
        position: absolute;

        left: 32px;
        top: -9.8px;

        opacity: 0;

        background-color: rgb(255, 252, 252);
        transform: rotate(45deg);

        border-left: 1px solid rgba(0, 0, 0, 0.2);
        border-top: 1px solid rgba(0, 0, 0, 0.2);

        height: 0px;
        width: 0px;

        z-index: 2;
    }

    to {
        position: absolute;

        left: 32px;
        top: -9.8px;

        opacity: 1;

        background-color: rgb(255, 252, 252);
        transform: rotate(45deg);

        border-left: 1px solid rgba(0, 0, 0, 0.2);
        border-top: 1px solid rgba(0, 0, 0, 0.2);

        height: 18px;
        width: 18px;

        z-index: 2;
    }
}