.picFormModalContainer {
    display: flex;
    flex-direction: column;

    align-items: center;

    position: relative;

    top: 50%;
    left: 50%;

    opacity: 1;

    transform: translate(-50%, -50%);

    width: 30vw;

    border-radius: 8px;

    animation-name: modal_entry;
    animation-duration: 0.3s;
}

.picForm {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;

    margin: 10% 0 0 0;
}

.fileUpload {
    position: absolute;
    width: 0.1px;
    height: 0.1px;
    z-index: 2;
}

.submitButton {
    margin-top: 10%;
}

.uploadLabel, .submitButton {
    display: block;
    padding: 2% 4%;

    border-radius: 8px;
    border: 1px solid #a5a5a5;

    color: black;
    font-size: 18px;

    text-align: center;

    background: linear-gradient(#ffede5,#fbf2ef);
}

.uploadLabel {
    width: 200px;
}

.uploadLabel:hover, .uploadLabel:active, .submitButton:hover, .submitButton:active, .submitButton:focus {
    filter: brightness(0.96);
    transform: scale(1.04);
    outline: none;
}

@keyframes modal_entry { from { top: -100%; opacity: .2; } to { top: 50%; opacity: 1; } }