.picFormModalContainer {
    display: flex;
    flex-direction: column;

    align-items: center;

    position: relative;

    top: 50%;
    left: 50%;

    opacity: 100%;

    transform: translate(-50%, -50%);

    width: 30vw;

    border-radius: 8px;

    animation-name: modal_entry;
    animation-duration: 0.3s;
}

.picForm {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;

    margin: 10% 0 0 0;
}

@keyframes modal_entry { from { top: -100%; opacity: 20%; } to { top: 50%; opacity: 100%; } }