.defaultCoverPhoto {
    display: grid;
    grid-template-columns: repeat(16, 1fr);
    grid-template-rows: 1fr;

    background-image: url('https://i.ytimg.com/vi/wL6nstAo5cU/maxresdefault.jpg');
    background-repeat: no-repeat;
    background-size: 90vw;
    background-position-y: -305px;
    background-position-x: -100px;

    width: 80%;
    height: 18vh;

    margin: 0 auto;

    border: 1px solid rgba(0, 0, 0, 0.2);
}

.pictureContainer {
    position: relative;
    grid-column: 2 / 4;
}

.defaultProfilePicture {
    margin-top: 80px;
    height: 20vh;
    border-radius: 50%;
    border: 6px solid white;
    box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.6);
    z-index: 0;
}

.defaultProfilePictureInnerBorder {
    position: absolute;
    height: 20vh;
    width: 20vh;
    border-radius: 50%;
    border: 2px solid rgba(0, 7, 75, 0.2);
    transform: scale(0.95);
    z-index: 1;
    top: 80.6px;
}