.recordingsContainer {
    width: 65%;

    border-radius: 8px;
    box-shadow: 0px 0px 6px rgba(0, 0, 0, 0.6);

    margin: 4% auto 0 auto;

    background-color: rgb(255, 252, 252);
}

.recordingsHeaderContainer {
    display: flex;
    align-items: center;
    justify-content: space-between;

    grid-column: 1 / 4;
    grid-row: 1 / 2;

    height: 6vh;

    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
    border-bottom: 1px solid rgba(0, 0, 0, 0.25);

    background-color: rgb(255, 252, 252);
}

.recordingsHeader {
    font-size: 30px;
    margin-left: 8%;
}

.addRecordingButton {
    margin-right: 8%;

    background-color: rgb(14, 0, 47);
    color: white;
    border: none;
    border-radius: 6px;
    padding: 8px;

    box-shadow: 2px 0px 4px rgba(0, 0, 0, 0.4);
}

.loading {
    filter: blur(6px) brightness(90%);
}

.recordingHeaderContainer {
    display: flex;
    justify-content: space-between;
}

.recordingDescriptionContainer {
    width: 36%;
}

.recordingDescription {
    width: 100%;
}

.recordingContainer {
    width: 100%;
    border-top: 1px solid rgba(0, 0, 0, 0.3);
}

.firstRecording {
    width: 100%;
}

.recordingContentContainer {
    display: flex;
    justify-content: space-between;
    margin-top: 4%;
}

.recordingInnerContainer {
    width: 85%;
    margin: 3% auto 3% auto;
}

.addRecording {
    font-weight: bold;
    font-size: 14px;
}

.addRecordingButton:focus {
    outline: none;
}

.addRecordingButton:active {
    transform: scale(1.1);
    filter: brightness(0.9);
}