body {
    overflow: hidden;
    font-family: 'Lato';
}

.signUpHeader {
    font-size: 28px;
    color: rgba(24, 24, 24, 0.8);
}

.headerContainer {
    display: flex;
    justify-content: center;
    align-items: center;

    margin-top: 4%;
    margin-bottom: -10%;
}

.activeDisplayCircle {
    width: 10px;
    height: 10px;
    background-color: grey;
    border-radius: 50%;
}

.inactiveDisplayCircle {
    width: 10px;
    height: 10px;
    background-color: #bdbdbd;
    border-radius: 50%;
}

.formContainer {
    position: relative;
    overflow: hidden;
    width: 25%;
    height: 70%;
    border-radius: 4px;
    box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.4);
}

.bottomContainer {
    display: flex;
    align-items: center;
    width: 100%;
    height: 10%;
    justify-content: space-evenly;
}

.circleContainer {
    display: flex;
    width: 8%;
    align-items: center;
    justify-content: space-between;
}

.contentContainer {
    position: relative;
    display: flex;
    height: 85%;
    overflow: hidden;
}

.userInfoOnscreen {
    display: flex;
    flex-direction: column;
    justify-content: center;
    position: absolute;
    transition: transform 0.3s;
    left: 6.8%;
    top: 9%;
    width: 86%;
    height: 90%;
}

.mapOnscreen {
    margin-top: 15%;
    margin-left: 3%;
    transition: transform 0.3s, margin-left 0.3s;
}

.userInfoOffscreen {
    display: flex;
    flex-direction: column;
    justify-content: center;
    position: absolute;
    left: 6.8%;
    top: 9%;
    width: 86%;
    height: 90%;
    transform: translateX(-500px);
    transition: transform 0.3s;
}

.mapOffscreen {
    margin-top: 315%;
    margin-left: 3%;
    transform: translateX(500px);
    transition: transform 0.3s, margin-left 0.3s;
}

.userInfoForm {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}

.bottomButton {
    font-size: 15px;
    font-weight: bold;
    width: 24%;
    height: 70%;
    padding: 12px 8px 12px 8px;
    border: none;
    background-color: rgb(14, 0, 47);
    color: white;
    border-radius: 4px;
}

.labels {
    font-size: 18px;
    color: rgba(39, 39, 39, 0.7);
    font-weight: 600;
}

.loginText {
    text-align: center;
    font-size: 14px;
}

.linkText {
    text-decoration: none;
    color: rgb(0, 117, 212);
}