body {
    overflow: hidden;
}

.activeDisplayCircle {
    width: 10px;
    height: 10px;
    background-color: grey;
    border-radius: 50%;
}

.inactiveDisplayCircle {
    width: 10px;
    height: 10px;
    background-color: #bdbdbd;
    border-radius: 50%;
}

.formContainer {
    overflow: hidden;
    width: 25%;
    height: 65%;
    border-radius: 4px;
    box-shadow: 2px 2px rgba(0, 0, 0, 0.2);
}

.bottomContainer {
    display: flex;
    width: 100%;
    justify-content: space-evenly;
}

.circleContainer {
    display: flex;
    width: 8%;
    align-items: center;
    justify-content: space-between;
}

.contentContainer {
    display: flex;
    height: 400px;
    overflow: hidden;
}

.userInfoOnscreen {
    position: absolute;
    transition: transform 0.5s;
}

.mapOnscreen {
    margin-left: 2em;
    transition: transform 0.5s, margin-left 0.5s;
}

.userInfoOffscreen {
    position: absolute;
    transform: translateX(-400px);
    transition: transform 0.5s;
}

.mapOffscreen {
    transform: translateX(500px);
    transition: transform 0.5s, margin-left 0.5s;
}